.aboutSection {
  min-height: 60vh;
  height: 100%;
  width: auto;
  position: relative;
  color: black;
  background-color: whitesmoke;
  text-align: left;
}
.aboutSection hr{
  margin-right: 50%;
}
.aboutSection .skillsGrid{
  text-align: center;
}
.aboutSection .subHeading{
  font-size: 2.5rem;
  text-align: left;
}
.aboutSection .iconCol{
  width: 50%;
}