.aboutSection {
  min-height: 55vh;
  height: 100%;
  width: auto;
  position: relative;
  color: black;
  background-color: whitesmoke;
  text-align: left;
}
.aboutSection hr{
  margin-right: 50%;
}
.aboutSection .skillsGrid{
  text-align: center;
}
.aboutSection .subHeading{
  font-size: 2.5rem;
  text-align: left;
}
.aboutSection .iconCol{
  width: 50%;
}
.aboutSection .badge{
  min-width: 80px;
}
.aboutSection p{
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
  .aboutSection hr{
    margin-right: 30%;
  }
}
