.contactSection {
  height: 50vh;
  width: auto;
  position: relative;
  color: black;
  background-color: #ececec;
  text-align: center;
}
.contactSection hr{
  margin-right: 50%;
}
.contactSection .subHeading{
  font-size: 2.5rem;
  text-align: left;
}