.freelanceSection {
  min-height: 50vh;
  width: auto;
  position: relative;
  color: black;
  background-color: whitesmoke;
  text-align: center;
}
.freelanceSection hr{
  margin-right: 75%;
}
.freelanceSection .subHeading{
  font-size: 2.5rem;
  text-align: left;
}
.freelanceSection img{
  max-height: 180px;
  width: auto;
}
.freelanceSection p{
  font-family: 'Open Sans', sans-serif;
}
.freelanceSection .lead{
  font-family: 'Rubik', sans-serif;
}
@media only screen and (max-width: 600px) {
  .freelanceSection hr{
    margin-right: 30%;
  }
}
