.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.navbar ul, .navbar li{
  padding-left: 50px;
  padding-right: 20px;
  text-align: left;
}
.navbar a:not([href]):not([tabindex]){
  color: #fff;
}
.navbar .nav-item{
  cursor: pointer;
}
.navbar .logo{
  border-radius: 50%;
  margin-right: 10px;
}
.navbar .fab{
  color: whitesmoke;
}
.navbar .fab:hover{
 color: #cccccc;
}