.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.navbar ul, .navbar li{
  padding-left: 50px;
  padding-right: 20px;
  text-align: left;
}
.navbar a:not([href]):not([tabindex]){
  color: #fff;
}
.navbar .nav-item{
  cursor: pointer;
}