.portfolioSection {
  min-height: 80vh;
  height: 100%;
  width: auto;
  position: relative;
  color: black;
  background-color: #ececec;
  text-align: center;
}
.portfolioSection .jumbotron1{
  background-image: url("../images/freshThreads.PNG");
}
.portfolioSection .jumbotron2{
  background-image: url("../images/bulldogAuto.PNG");
}
.portfolioSection .jumbotron3{
  background-image: url("../images/exokitSite.PNG");
}


