.portfolioSection {
  min-height: 70vh;
  height: 100%;
  width: auto;
  position: relative;
  color: black;
  background-color: #ececec;
  text-align: center;
}
.portfolioSection .jumbotron1{
  background-image: url("../images/freshThreads.PNG");
  background-size: cover;
  height: 40vh;
}
.portfolioSection .jumbotron2{
  background-image: url("../images/bulldogAuto.PNG");
  background-size: cover;
  height: 40vh;
}
.portfolioSection .jumbotron3{
  background-image: url("../images/exokitSite.PNG");
  background-size: cover;
  height: 40vh;
}
.portfolioSection .subHeading{
  font-size: 2.5rem;
  text-align: left;
}
hr{
  margin-right: 30%;
}
.portfolioSection .portfilioText{
  text-align: left;
}
.portfolioSection .btn-group .btn{
  width: 10rem;
}
.portfolioSection p{
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
  .portfolioSection .btn-group .btn{
    width: 6.8rem;
    font-size: small;
    overflow: hidden;
  }
  .portfolioSection .btn{
    font-size: smaller;
  }
  .portfolioSection .jumbotron1{
    background-image: url("../images/freshThreads-smallv2.PNG");
  }
  .portfolioSection .jumbotron2{
    background-image: url("../images/bulldog-small.PNG");
  }
  .portfolioSection .jumbotron3{
    background-image: url("../images/exokit-small.PNG");
  }
}
