.titleSection{
  width: auto;
  height: 100vh;
  position: relative;
  color: white;

  background: linear-gradient(28deg, #131347, #1cb5e0);
  background-size: 400% 400%;

  -webkit-animation: TitleGrad 15s ease infinite;
  -moz-animation: TitleGrad 15s ease infinite;
  -o-animation: TitleGrad 15s ease infinite;
  animation: TitleGrad 15s ease infinite;
}

@-webkit-keyframes TitleGrad {
  0%{background-position:69% 0%}
  50%{background-position:32% 100%}
  100%{background-position:69% 0%}
}
@-moz-keyframes TitleGrad {
  0%{background-position:69% 0%}
  50%{background-position:32% 100%}
  100%{background-position:69% 0%}
}
@-o-keyframes TitleGrad {
  0%{background-position:69% 0%}
  50%{background-position:32% 100%}
  100%{background-position:69% 0%}
}
@keyframes TitleGrad {
  0%{background-position:69% 0%}
  50%{background-position:32% 100%}
  100%{background-position:69% 0%}
}


.titleSection .profileImage{
  border-radius: 50%;
  max-height: 200px;
  width: auto;
}
.titleSection .centeredDiv{
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.titleSection i:hover{
  color: black;
}
#fishBowl {
  width: auto;
  height: 100vh;
  position: relative;

}
#fish {
  display: block;
  height: 100px;
  width: auto;
  position: absolute;
}